/*Стили для footer*/

footer {
  background-color: $footerBgColor;
}

b {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-weight: $headingFontWeight;
  font-size: $mainFontSize;
}
.footer-flex {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    width: $desktop;
    align-items: baseline;
    justify-content: space-between;

    padding-top: 48px;
    padding-bottom: 0px;
  }
}

/*Footer contacts*/

.footer-contacts {
  & > div {
    margin-bottom: 60px;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}

.footer-contacts-adress {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet) {
    margin-right: 165px;
  }
  @media screen and (min-width: $desktop) {
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 28px;
    margin-right: 69px;
  }
}

.adress-location {
  margin-bottom: 9px;

  color: $secondaryBgColor;
  font-style: $mainFontStyle;
  line-height: 1.71;
}

.adress-contacts-item {
  display: block;

  color: rgba(255, 255, 255, 0.6);
  font-style: $mainFontStyle;
  line-height: 1.71;
  text-decoration: none;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

/*Footer social media*/

.socials-list {
  @extend %socialsFlexDisplay;
  min-width: 206px;
  justify-content: center;
}
.socials-item:not(:nth-last-child(1)) {
  margin-right: 10px;
}

/*Footer signup*/

.subscribe {
  &-icon {
    display: inline-block;
    margin-left: 10px;
  }
}

.footer-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  align-content: space-between;

  @media screen and (min-width: $tablet) {
    max-width: 570px;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    width: 570px;
  }
  @media screen and (min-width: $desktop) {
    align-items: baseline;
    width: 570px;
  }
  & > .link-button {
    @extend %headerDisplayFlexProperties;
  }

  & input[type='email'] {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    padding: 12px 16px;
    @media screen and (min-width: $tablet) {
      width: 450px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 12px;
      width: 358px;
    }
    background: inherit;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: $mainBorderRadius;
    outline: none;

    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}
