.filters-btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: $mainBorderRadius;
  cursor: pointer;
  padding: 6px 22px;
  height: 38px;

  background: $secondaryBgColor;
  color: $secondaryTextColor;
  outline: none;

  font-family: $mainFontFamily;
  font-style: $mainFontStyle;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: $mainLetterSpacing;

  transition: color $mainTransition, background-color $mainTransition;

  &:hover,
  &:focus {
    background: $primaryHoverColor;
    color: $primaryBgColor;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
  &:focus {
    border: 0.5px groove var(--secondary-background-color);
  }
}
